<!DOCTYPE html>

<html>
<head>
    <title>Error</title>
</head>
<body>
<div>
        <p>Search service return false. Some error are occupted</p>
        @Html.ActionLink("Go to Search Page", "SearchPage");
</div>
</body>
</html>