<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Some text about National Criminal Database and logon</p>
        @Html.ActionLink("Go to Search Page", "SearchPage");
    </div>
</body>
</html>
