<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
        <p>Your requist is processing...</p>
        @Html.ActionLink("Go to Search Page", "SearchPage");
</div>
</body>
</html>