<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NationalCriminalDatabase.Tests.Properties.Settings.NcServiceSearch_TestDataConnectionString"
            connectionString="Data Source=&quot;D:\Dima\Job\Find\Crossover.CShapr\National_Crimanals_Database\Visial studio project\NcServiceSearch.Tests\NcServiceSearch.TestData.sdf&quot;"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>