<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>
    <add name="MyMembershipConnString" connectionString="Data Source=DIMA-PC\MSSQL2014;Initial Catalog=aspnetdb;User ID=sa;Password=111"/>
  </connectionStrings>
  
  <system.web>

    <profile defaultProvider="SqlProvider">
      <providers>
        <clear />
        <add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider"
             connectionStringName="MyMembershipConnString"
             applicationName="security" />
      </providers>
      <properties>
        <add name="Email"/>
      </properties>    
      </profile>

    <roleManager enabled="true" />
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" name=".ASPXFORMSAUTH">
      </forms>
    </authentication>
    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <add name="MyMembershipProvider" connectionStringName="MyMembershipConnString" type="System.Web.Security.SqlMembershipProvider" passwordFormat="Hashed"/>
      </providers>
    </membership>
    <compilation debug="true"/>

    <sessionState
            mode="SQLServer"
            sqlConnectionString="Data Source=localhost\MSSQL2014;User ID=sa;Password=111"
    cookieless="false"
    timeout="20"
      />


  </system.web>



      <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INcSearchService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9810/NcSearchService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INcSearchService" contract="NcSearchService.INcSearchService" name="BasicHttpBinding_INcSearchService"/>
    </client>
  </system.serviceModel>
</configuration>