<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <connectionStrings>
    <add name="VacancyService.Properties.Settings.KaVacancyConnectionString"
      connectionString="Data Source=DIMA-PC\MSSQL2014;Initial Catalog=KaVacancy;Persist Security Info=True;User ID=sa;Password=111"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.serviceModel>
        <services>
            <service name="VacancyService.VacancyService">
              <host>
                <baseAddresses>
                  <add baseAddress="http://localhost:9810/VacancyService"/>
                </baseAddresses>
              </host>
                <endpoint 
                  address="" 
                  binding="basicHttpBinding"
                  contract="VacancyServiceInterface.IVacancyService" />
                <endpoint 
                  address="mex" 
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
            </service>
        </services>
  <behaviors>
    <serviceBehaviors>
      <behavior>
        <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
        <serviceDebug includeExceptionDetailInFaults="False"/>
      </behavior>
    </serviceBehaviors>
  </behaviors>
    </system.serviceModel>
</configuration>